[submodule "PedroPathing"]
	path = PedroPathing
	url = https://github.com/Pedro-Pathing/PedroPathing.git
[submodule "TeamCode/src/main/java/org/firstinspires/ftc/teamcode/subsystems/PedroPathing"]
	path = TeamCode/src/main/java/org/firstinspires/ftc/teamcode/subsystems/PedroPathing
	url = https://github.com/Pedro-Pathing/PedroPathing.git
